---
import type { Brands as Props } from '~/types';
import { Image } from 'astro:assets';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';

const {
  title = '',
  subtitle = '',
  tagline = '',
  images = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <ul class="mx-auto px-4 py-10 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-x-8 gap-y-10">
    {
      images &&
        images.map((image) => (
          <li class="flex items-center justify-center">
            <a
              href={image.href || '#'}
              class="opacity-70 hover:opacity-100 transition will-change-transform hover:scale-[1.02] rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary"
            >
              {typeof image.src === 'string' ? (
                <img src={image.src} alt={image.alt || ''} class="h-10 sm:h-12 object-contain w-full" loading="lazy" />
              ) : (
                <Image
                  src={image.src}
                  alt={image.alt || ''}
                  class="h-10 sm:h-12 object-contain w-full"
                  loading="lazy"
                />
              )}
            </a>
          </li>
        ))
    }
  </ul>
</WidgetWrapper>
